.vscode/**
.vscode-test/**
email-relay/**
out/**
node_modules/**
src/**
scripts/**
.github/**
request.txt
process_watcher_vscode_spec.txt
todo.txt
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
